{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name_en }}</title>
</head>
<body>
    <header>
        <h1>{{ site.name_en }}</h1>
    </header>
    <main>
        <p>
            <b>id: </b>{{ site.id_no }}
        </p>
        <p>
            <b>Name: </b>{{ site.name_en }}
        </p>
        <p>
            <b>Countries: </b>
            {% for country in site.countries.split(',') %}
                <a href="/sites/country/{{ country.strip() }}">{{ country.strip() }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    </main>
</body>
</html>
{% endblock %}