{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Meet the Authors</h1>
    <p>Our web application is brought to you by a talented and diverse team of developers and designers.</p>
    <table class="table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mota</td>
                <td>Supposed Boss</td>
                <td><a href="mailto:motinhaLouca@souBurra.com">motinhaLouca@souBurra.com</a></td>
            </tr>
            <tr>
                <td>Menino do Coro</td>
                <td>Query Maker</td>
                <td><a href="mailto:goncaloSouls@aMinhaLingua.com">goncaloSouls@aMinhaLingua.com</a></td>
            </tr>
            <tr>
                <td>Simão Homo</td>
                <td>Faz Tudo/Faz nada</td>
                <td><a href="mailto:simonGomas@naosei.com">simonGomas@naosei.com</a></td>
            </tr>
            <tr>
                <td>Deus PP</td>
                <td>BackGround Boss/ Corrige a merda dos outros</td>
                <td><a href="mailto:godPP@oMaior.com">godPP@oMaior.com</a></td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}