<!-- This template defines the content block for the World Heritage Site database web application.  -->

{% extends 'base.html' %}
{% block content %}
<h1>World Heritage Site database</h1>

<h2>About</h2>
<p>
  The database documents UNESCO’s World Heritage Sites, 
  recognized by their cultural, historic, scientific or natural relevance. 
  This World Heritage Sites list plays a vital role in the promotion of conservation 
  and cultural and natural appreciation on a global scale. By shining a spotlight
  on these sites of extreme importance, UNESCO intends to raise international 
  awareness to the need to protect these places, assuring their preservation for the generations to come.
  This web application illustrates the use of the World Heritage Site
database. The application is built using 
<a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a>,
<a href="https://flask.palletsprojects.com">Flask</a>, and
<a href="https://jinja.palletsprojects.com">Jinja</a>.
</p>

<h2>Some database statistics</h2>
<table>
<tr>
  <th>Items</th>
  <th>Count</th>
</tr>
<tr>
  <td>World Heritage Site</td>
  <td>{{ stats.id_no }}</td>
</tr>
<tr>
  <td>Transboundary</td>
  <td>{{ stats.site_number1 }}</td>
</tr>
<tr>
  <td>In Danger</td>
  <td>{{ stats.site_number2 }}</td>
</tr>
<tr>
  <td>Cultural sites</td>
  <td>{{ stats.site_number3}}</td>
</tr>
<tr>
  <td>Mixed sites</td>
  <td>{{ stats.site_number4}}</td>
</tr>
<tr>
  <td>Natural sites</td>
  <td>{{ stats.site_number5}}</td>
</tr>
</table>

<h2>Sample functionality</h2>

<h4>Sites</h4>
<p>
   <a href="/sites/">List all</a>
</p>
<p>Get sites by ID:
<form name="mid" action="javascript:window.open('/sites/'+document.forms['mid'].elements['id'].value,'_self')">
   Site ID:<input value="208" name="id" type="number" min="1"/><input type="submit" value="search"/>
</form>
</p>

<p>Search sites by country:
<form name="country_search_1" action="javascript:window.open('/country/'+document.forms['country_search_1'].elements['country'].value,'_self')">
   Country:<input value='Portugal', name="country" type="text"/><input type="submit" value="search"/>
</form>
</p>

<h4>Transboundary</h4>
<p>
   <a href="/transboundary/">List all</a>
</p>
<p>Search transboundary sites by country:
<form name="country_search_2" action="javascript:window.open('/transboundary/search/'+document.forms['country_search_2'].elements['country'].value,'_self')">
   Country:<input value='Portugal', name="country" type="text"/><input type="submit" value="search"/>
</form>
</p>

<h4>Year of inscription</h4>
<p>
<form name="year_search" action="javascript:window.open('/sites/search/'+document.forms['year_search'].elements['year'].value,'_self')">
   Year:<input value="1990" name="year" type="number" min="1"/><input type="submit" value="search"/>
</form>
</p>

<h4>Search sites by category</h4>
<p>
<form name="category_search" action="javascript:window.open('/sites/category/'+document.forms['category_search'].elements['category'].value,'_self')">
   Category:
   <select name="category">
       <option value="Natural">Natural</option>
       <option value="Mixed">Mixed</option>
       <option value="Cultural">Cultural</option>
   </select>
   <input type="submit" value="search"/>
</form>
</p>

<h4>Search sites by danger status</h4>
<p>
<form name="danger_search" action="javascript:window.open('/sites/'+document.forms['danger_search'].elements['danger'].value,'_self')">
   Danger status:
   <select name="danger">
       <option value="danger">In Danger</option>
       <option value="not-in-danger">Not in Danger</option>
   </select>
   <input type="submit" value="search"/>
</form>
</p>

<!-- para fazer as queries é assim -->
<h4>Queries</h4>
<p>
  1. Top 5 countries with the biggest amount of non-transboundary sites. Show the country name and the amount of sites, and order them (DESC) by amount.
  <a href="/queries/1">Answer</a>
</p>
<p>
  2. The names, latitude and longitude of the sites below the equator (latitude &lt 0) and to the left  of Greenwich meridian (longitude &lt 0)? Order them from North to South.
  <a href="/queries/2">Answer</a>
</p>
<p>
  3.Which sites, show the ID and the name, does Unesco consider representative of “a masterpiece of human creative genius”? Order them by name."
<a href="/queries/3">Answer</a>
</p>
<p>
  4. Which sites, ID and name, became a part of the list in the year we were born(2005)? Order them by name.
  <a href="/queries/4">Answer</a>
</p>
<p>
  5. Has any site stopped being endangered this year (2024)?  Show their ID's, names and descriptions, and order by name.
  <a href="/queries/5">Answer</a>
</p>
<p>
  6. Which site(s), ID and name, combine the biggest amount of criteria to be considered World Heritage and what is that amount as 'Number of criteria'? Order them by name.
  <a href="/queries/6">Answer</a>
</p>
<p>
  7. How many sites are there from each category? Show the category name and the amount of sites.
  <a href="/queries/7">Answer</a>
</p>
<p>  
  8. What are the names, region and countries (transboundary sites) of the sites in France? Order them by name.
  <a href="/queries/8">Answer</a>
<p>
<p>
  9. The sites associated with countries that start with the letter B and the name of their country/countries. Show their ID, name and the country or countries, and order them by ID.
  <a href="/queries/9">Answer</a>
</p>
<p>
  10. What is the average area of the sites of each category? Show the category name and the average area.
  <a href="/queries/10">Answer</a>
</p>
<p>
  11. What is the amount of sites in each hemisphere (North and South)?
  <a href="/queries/11">Answer</a>
</p>
<p>
  12. List the 10 biggest sites in area and their regions. Show their ID, name, area and region, and order them by area (DESC).
  <a href="/queries/12">Answer</a>
</p>
<p>
  13. List the sites in the torrid zone (between the tropics of cancer and capricorn) that are currently in danger. Show their ID, name, latitude, longitude, and order them by ID.
  <a href="/queries/13">Answer</a>
</p>
<p>
  14.Find the sites that belong to the region with the biggest amount of sites. Show their ID, name and region, and order by ID.
  <a href="/queries/14">Answer</a>
</p>
<p>
  15. What were the sites added during the first 10 years of the World Heritage sites list? Show their ID_no, name, the country or countries where it is located and the date of inscription, and order them by that date.
  <a href="/queries/15">Answer</a>
</p>
{% endblock %}