
<!-- This template defines the content block for the World Heritage Site database web application.  -->

{% extends 'base.html' %}
{% block content %}
<h1>World Heritage Site database</h1>

<h2>About</h2>
<p>This web application illustrates the use of the World Heritage Site
database. The application is built using 
<a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a>,
<a href="https://flask.palletsprojects.com">Flask</a>, and
<a href="https://jinja.palletsprojects.com">Jinja</a>.
</p>

<h2>Some database statistics</h2>
<table>
<tr>
  <th>Items</th>
  <th>Count</th>
</tr>
<tr>
  <td>World Heritage Site</td>
  <td>{{ stats.id_no }}</td>
</tr>
<tr>
  <td>Transboundary</td>
  <td>{{ stats.site_number1 }}</td>
</tr>
<tr>
  <td>In Danger</td>
  <td>{{ stats.site_number2 }}</td>
</tr>
<tr>
  <td>Cultural sites</td>
  <td>{{ stats.site_number3}}</td>
</tr>
<tr>
  <td>Mixed sites</td>
  <td>{{ stats.site_number4}}</td>
</tr>
<tr>
  <td>Natural sites</td>
  <td>{{ stats.site_number5}}</td>
</tr>
</table>


<h2>Sample functionality</h2>

<h4>Sites</h4>
<p>
   <a href="/sites/">List all</a>
</p>
<p>Get sites by ID:
<form name="mid" action="javascript:window.open('/sites/'+document.forms['mid'].elements['id'].value,'_self')">
   Site ID:<input value="208" name="id" type="number" min="1"/><input type="submit" value="search"/>
</form>
</p>

<p>Search sites by country:
<form name="country_search" action="javascript:window.open('/country/'+document.forms['country_search'].elements['country'].value,'_self')">
   Country:<input value='Portugal', name="country" type="text"/><input type="submit" value="search"/>
</form>
</p>

<h4>Transboundary</h4>
<p>
   <a href="/transboundary/">List all</a>
</p>
<p>Search transboundary sites by country:
<form name="country_search" action="javascript:window.open('/transboundary/search/'+document.forms['country_search'].elements['country'].value,'_self')">
   Country:<input value='Portugal', name="country" type="text"/><input type="submit" value="search"/>
</form>
</p>

<h4>Year of inscription</h4>
<p>
<form name="year_search" action="javascript:window.open('/sites/search/'+document.forms['year_search'].elements['year'].value,'_self')">
   Year:<input value="1990" name="year" type="number" min="1"/><input type="submit" value="search"/>
</form>
</p>

<h4>Search sites by category</h4>
<p>
<form name="category_search" action="javascript:window.open('/sites/category/'+document.forms['category_search'].elements['category'].value,'_self')">
   Category:
   <select name="category">
       <option value="Natural">Natural</option>
       <option value="Mixed">Mixed</option>
       <option value="Cultural">Cultural</option>
   </select>
   <input type="submit" value="search"/>
</form>
</p>

<h4>Search sites by danger status</h4>
<p>
<form name="danger_search" action="javascript:window.open('/sites/'+document.forms['danger_search'].elements['danger'].value,'_self')">
   Danger status:
   <select name="danger">
       <option value="danger">In Danger</option>
       <option value="not-in-danger">Not in Danger</option>
   </select>
   <input type="submit" value="search"/>
</form>
</p>

<!-- para fazer as queries é assim -->
<h4>Queries</h4>
<p>
  1. Que locais deixaram de ser património? Ordenada-os pelo nome
  <a href="/queries/1">Answer</a>
</p>

{% endblock %}