<!-- This template displays a list of World Heritage sites by country. -->

{% extends 'base.html' %}
{% block content %}
    <header>
        <h1>
            <img src="{{ url_for('static', filename='flags/' + country.replace(' ', '_') + '.svg') }}" 
                 alt="{{ country }}" width="30" height="20">
            Sites in {{ country }}
        </h1>
    </header>
    <main>
        <ul>
            {% for site in sites %}
                <li>
                    <a href="/sites/{{ site.id_no }}">{{ site.id_no}}</a> - {{ site.name_en | safe  }}
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}