<!-- 
This template renders a list of heritage sites.
It displays a table with the ID, Name and Description of the sites.
-->

{% extends 'base.html' %}
{% block content %}
<h1>Sites</h1>
<table>
  <tr>
    <th style="text-align: center;">
      <b>ID</b>
    </th>
    <th>
      <b>Name</b>
    </th>
    <th>
      <b>Description</b>
    </th>
  </tr>

  {% for site in sites %}
  <tr>
    <td style="text-align: center;">
      <a href="/sites/{{ site.id_no}}">{{ site.id_no }}</a>
    </td>
    <td>
      {{ site.name_en }}
    </td>
    <td>
      {{ site.short_description_en | safe }}
    </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}