{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sites in {{ country }}</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        header {
            margin-bottom: 20px;
            text-align: left;
            padding-left: 70px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
            text-align: left;
            padding-left: 100px;
        }
    </style>
</head>
<body>
    <header>
        <h1>
            <img src="{{ url_for('static', filename='flags/' + country.replace(' ', '_') + '.svg') }}" 
                 alt="{{ country }}" width="30" height="20">
            Sites in {{ country }}
        </h1>
    </header>
    <main>
        <ul>
            {% for site in sites %}
                <li>
                    <a href="/sites/{{ site.id_no }}">{{ site.name_en }}</a> - {{ site.short_description_en }}
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
{% endblock %}
