<!-- This template displays the criteria for why a site is a World Heritage site.  -->

{% extends 'base.html' %}
{% block content %}
    <header>
        <h1>{{ criteria.name_en }}</h1>
    </header>
    <main>
        <ul>
            {% for crit in criteria %}
                <li>
                    <a>{{ crit.criterion_code }}</a> - {{ crit.cd_description }}
                </li>
            {% endfor %}
        </ul>
        <p><b>Justification: </b>
            {% if criteria[0].justification_en %}
                {{ criteria[0].justification_en | safe }}
            {% else %}
                No justification available
            {% endif %}
        </p>
    </main>
{% endblock %}