{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sites inscribed in {{ year }}</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        header {
            margin-bottom: 20px;
            text-align: left;
            padding-left: 70px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
            text-align: left;
            padding-left: 100px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Sites inscribed in {{ year }}</h1>
    </header>
    <main>
        <ul>
            {% for site in sites %}
                <li><a href="/sites/{{ site.id_no }}">{{ site.id_no }}</a> - {{ site.name_en }}</li>
            {% endfor %}
        </ul>
    </main>
    {% endblock %}
</body>
</html>