{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name_en }}</title>

</head>
<body>
    <header>
        <h1>{{ site.name_en }}</h1>
    </header>
    <main>

        <p><b>id: </b>{{ site.id_no }}</p>
        <p><b>Name: </b>{{ site.name_en }}</p>
        <p><b>Countries: </b>
            {% for country in site.countries.split(',') %}
                <a href="/country/{{ country.strip() }}">{{ country.strip() }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><b>Description: </b>
            {% if site.short_description_en %}
                {{ site.short_description_en | safe }}
            {% else %}
                No description available
            {% endif %}
        </p>
        <p><b>Region: </b>{{ site.region_en }}</p>
        <p><b>Latitude: </b>{{ site.latitude }}</p>
        <p><b>Longitude: </b>{{ site.longitude }}</p>
        <p><b>Area (ha): </b>{{ site.area_hectares }}</p>
        <p><b>Year of inscription: </b>{{ site.date_inscribed }}</p>
        <p><b>Justification: </b>
            {% if site.justification_en %}
                {{ site.justification_en | safe }}
            {% else %}
                No justification available
            {% endif %}
        </p>
        <p><b>Is it in danger? </b>
            {% if site.danger == 1 %}
                Yes
            {% else %}
                No
            {% endif %}
        </p>
        <p><b>Category: </b>{{ site.category }}</p>
        <p><b>Criteria for selection: </b>
            <a href="/sites/{{site.id_no}}/criteria/">Criteria</a> 
        </p> 

    </main>
</body>
</html>
{% endblock %}